
body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    -webkit-user-select: none;
    -webkit-text-size-adjust: 100%;
}

input, textarea {
    -webkit-user-select: text;
}

#everything-holder {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.concept {
    font-family: "Avenir";
    padding-top: 200px;
    text-align: center;
}
