
#main_bacondust {
    width: 100%;
    height: 100%;
    text-shadow: 0 0 3px #fff;
}

/* ---- stars background ---- */

#stars1, #stars2 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    z-index: -1;
    -webkit-animation-duration: 25s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

#stars1 {
    top: -100%;
    -webkit-animation-name: stars_slide_anim_1;
}

#stars2 {
    top: 0%;
    -webkit-animation-name: stars_slide_anim_2;
}

@-webkit-keyframes stars_slide_anim_1 {
    0% { top: 0%; }
    100% { top: 100%; }
}

@-webkit-keyframes stars_slide_anim_2 {
    0% { top: -100%; }
    100% { top: 0%; }
}

/* ----- main menu ----- */

#main_menu {
    width: 100%;
    height: 100%;
}

.main_title, .highscore_label, .start_label, .game_over_title, .instructions {
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: "AvenirNext-UltraLight";
    font-variant: small-caps;
}

.main_title {
    top: 10%;
    font-size: 4.5em;
    color: #44bb44;
}

.highscore_label {
    top: 18%;
    font-size: 2.4em;
    color: #888;
}

.instructions {
    left: 25%;
    bottom: 10%;
    width: 50%;
    font-size: 2.5em;
    color: #92f;
}

.start_label {
    top: 83%;
    font-size: 2.5em;
    color: #fff;
}

.hidden_start_label {
    opacity: 0;
}

@media screen and (max-width: 600) {
    .main_title {
        font-size: 3.2em;
    }
    
    .highscore_label {
        font-size: 1.6em;
    }
    
    .instructions {
        left: 10%;
        width: 80%;
        font-size: 1.7em;
    }
    
    .start_label {
        font-size: 1.7em;
    }
}

/* ----- main game ----- */

#main_game {
    display: none;
    width: 100%;
    height: 100%;
}

.left_side_bar, .right_side_bar {
    position: absolute;
    top: 0px;
    width: 1.5%;
    height: 100%;
/*    background-color: #1f50be;*/
}

.left_side_bar {
    left: 0%;
}

.right_side_bar {
    right: 0%;
}





.left_side_bar.gr0 {
    background: linear-gradient(to right, red , yellow);
    background: -webkit-linear-gradient(left, right, #1f50be, #000);
}

.right_side_bar.gr0 {
    background: linear-gradient(to right, red , yellow);
    background: -webkit-linear-gradient(left, right, #000, #1f50be);
}

.left_side_bar.gr1 {
    background: linear-gradient(to right, red , yellow);
    background: -webkit-linear-gradient(left, right, #33cc33, #000);
}

.right_side_bar.gr1 {
    background: linear-gradient(to right, red , yellow);
    background: -webkit-linear-gradient(left, right, #000, #33cc33);
}

.left_side_bar.gr2 {
    background: linear-gradient(to right, red , yellow);
    background: -webkit-linear-gradient(left, right, #cc3333, #000);
}

.right_side_bar.gr2 {
    background: linear-gradient(to right, red , yellow);
    background: -webkit-linear-gradient(left, right, #000, #cc3333);
}

.left_side_bar.gr3 {
    background: linear-gradient(to right, red , yellow);
    background: -webkit-linear-gradient(left, right, #ffffff, #000);
}

.right_side_bar.gr3 {
    background: linear-gradient(to right, red , yellow);
    background: -webkit-linear-gradient(left, right, #000, #ffffff);
}












.in_game_score_label {
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: "HelveticaNeue-Ultralight";
    top: 55%;
    font-size: 10em;
    color: #fff;
}

.falling_pig {
    position: absolute;
    width: 130px;
    height: 130px;
    background-size: 92%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 9;
}

@media screen and (max-width: 600) {
    .in_game_score_label {
        top: 55%;
        font-size: 9em;
    }
    
    .falling_pig {
        width: 80px;
        height: 80px;
    }
}

/* ----- game over ----- */

#main_game_over {
    display: none;
    width: 100%;
    height: 100%;
}

.game_over_title {
    top: 10%;
    font-size: 5em;
}

.final_score_label {
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: "HelveticaNeue-Ultralight";
    top: 45%;
    font-size: 10em;
    color: #fff;
}

@media screen and (max-width: 600) {
    .game_over_title {
        top: 10%;
        font-size: 3.3em;
    }
    
    .final_score_label {
        top: 42%;
        font-size: 9em;
    }
}

/* ----- animations ----- */

.white_to_black {
    background-color: #fff;
    -webkit-animation-name: fade_in;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
}

.fade_in_start_label {
    opacity: 0;
    -webkit-animation-name: fade_in_start_label_anim;
    -webkit-animation-delay: 2.5s;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
}

.pig_fade_out {
    opacity: 1;
    -webkit-animation-name: pig_fade_out_anim;
    -webkit-animation-duration: 1.7s;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes fade_in {
    0% { background-color: #fff; }
    100% { background-color: transparent; }
}

@-webkit-keyframes fade_in_start_label_anim {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes pig_fade_out_anim {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
